<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
    <div id="top">
      <a href="/"><div id="logo"><img src="/"></div></a>
      <ul class="nav navbar-nav navbar-left">
        <div id="menu">
            <li><a href="Home">HOME</a></li>
            <li><a href="Services">SERVICES</a></li>
            <li><a href="Ems">EMS</a></li>
        </div>
      </ul>
    </div>
    </div>
  </nav>
  <hr>
  <hr>
  <hr>