<div class="w3-content w3-display-container">
  <div class="mySlides myslide1">
    <div id="slide-txt" class="inside">
      <p class="inside">Supply of all <br> electrictal gadget </p>
      <h5 class="inside-content">Transformers, Lightenings, Switches etc</h5>
    </div>
  </div>  
  <div class="mySlides myslide2">
    <div id="slide-txt" class="insideheader">
      <p class="inside">Building <br> construction <br> and supply of all <br>   kinds of building <br> materials</p>
      <h5 class="inside-content">Trucks, Excavators, Tractors etc</h5>
    </div>
  </div>    
  <div class="mySlides myslide3">
    <div id="slide-txt" class="insidefooter">
      <p class="inside">Supply <br> of  meter <br> boxes and <br>electrical <br> cables</p>
      <h5 class="inside-content">Trucks, Excavators, Tractors etc</h5>
    </div>
  </div>    
  <div class="mySlides myslide4">
    <div id="slide-txt" class="inside-content">
      <p class="inside">Supply and <br> maintenance of water <br> meter</p>
    </div>
  </div>  
</div>
