<!DOCTYPE html>
<html>
<head>
  <title>WPF Emergency</title>
  <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg"/>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/my-styles.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7074a20037.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="[![](https://data.jsdelivr.com/v1/package/npm/flat-icons/badge)](https://www.jsdelivr.com/package/npm/flat-icons)">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="affordable web design">
    <meta name="author" content="lectriweb">
    <meta name="keywords" content="Emergency, health, find a hospital, Enugu">
  </head>
  <body style="background-color: #187971b0">
    <div id="under"> 
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
      <div id="top">
        <a href="/"><div id="logo"><img  src="Untitled-1.png"></div></a>
        <ul class="nav navbar-nav navbar-left">
          <div id="menu">

            <a href="/">HOME</a>
            <a href="#AboutUs">ABOUT US</a>
            <a href="#OurServices">OUR SERVICES</a>
            <a href="#OurTeam">TEAM SUPPORT</a>
            <a href="/api/ems">EMS</a>
            <a href="/api/signin">SIGNOUT</a>
          </div>
        </ul>
      </div>
      </div>
    </nav>
    <hr>
    <hr>
    <hr>
    <hr>
      <div class="mobile-slider"> 
      </div>
      <div class="slider">
        <div class="w3-content w3-display-container">
          <div class="mySlides myslide1">
            <div id="slide-txt" class="inside">
              <p class="inside" color="#000" >LOCATING VICTIMS AT ALL COST<br> </p>
              <h5 class="inside-content">google maps made this service easy</h5>
            </div>
          </div>  
          <div class="mySlides myslide2">
            <div id="slide-txt" class="insideheader">
              <p class="inside">HEALTH IS<br>PRIORITY </p>
              <h5 class="inside-content">REGISTER WITHIN THE EMS NAVIGATION</h5>
            </div>
          </div>    
          <div class="mySlides myslide3">
            <div id="slide-txt" class="insidefooter">
              <p class="inside"> MAKE USE OF FAST TECHNOLOGY TODAY</p>
              <h5 class="inside-content">c</h5>
            </div>
          </div>    
          <div class="mySlides myslide4">
            <div id="slide-txt" class="inside-content">
              <p class="inside">CONTACT US THROUGH EMAIL FOR SUPPORT</p>
            </div>
          </div>  
        </div>
      </div>
      <div class="container">
        <div id="OurServices">
          <div id="services">
            <p>What We Can Do</p>
            <h3>OUR SERVICES</h3>
          </div>
          <div class="container-inside">
            <div class="row">

                <div id="service1" class="col-md-4 col-sm-6 col-lg-4">
                  <div class="service-back1">
                    <img src="../image/hospital-near-me-magnifier-smartphone-screen_197170-687.jpg" width="50%">
                    <p>Near Medical Services</p>
                  </div>
                  <h4>Web Project</h4>
                  <p id="about"></p>
                </div>

                <div id="service1" class="col-md-4 col-sm-6 col-lg-4">
                  <div class="service-back3">
                    <img src="../image/hospital-building-facade-with-emergency-ambulances_82574-6867.jpg" width="50%">
                    <p>Ambulance</p>
                  </div>
                  <h4 style="text-transform: uppercase;">Ready Equipments</h4>
                  <p id="about"></p>
                </div>


                <div id="service1" class="col-md-4 col-sm-6 col-lg-4">
                  <div class="service-back4">
                    <img src="../image/28516.jpg" width="50%">
                    <p>Smart Google Api</p>
                  </div>
                  <h4 style="text-transform: uppercase;">Emergency Response</h4>
                  <p id="about"></p>
                </div>

            </div>
          </div>
        </div>
        <div id="AboutUs">
          <div id="services">
            <p>Why does this System Exist</p>
            <h3>ABOUT US</h3>
          </div>
          <div class="container-inside">
            <div class="row">
              <div id="about" class="col-md-6 col-sm-6 col-lg-6">
                <p style="font-size: 17px; color: rgba(0, 0, 0, 0.4)">
                  health emergency is a project dedicated to those who lost their life in especially my cousin brother`
                </p>
              </div>
              
              <div id="" class="col-md-6 col-sm-6 col-lg-6" style="box-sizing: border-box;">
                <img src="aboutus.jpg" width="100%";>
              </div>
            </div>
          </div>
        </div>
        <div id="OurTeam">
          <div id="services">
            <p>Our Team</p>
            <h3>MEET THE PROJECT STUDENT</h3>
          </div>
          <div class="container-inside">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-lg-4" id="about">
                <p style="font-size: 17px; color: rgba(0, 0, 0, 0.4)">
                  Emergency health application is a web based application which reaveals the proximity of hospitals to location of user by making use of a map. This application is dedicated to accident victim in nigeria especially to my cousin brother who is late. <br> Google Maps API reveals location of inteded user after emergency request form is filled
                </p><br>
              </div>
              <div class="col-md-2 col-sm-6 col-lg-2">
                <div >
                  <img src="20210404_230411-removebg-preview.png" width="100%" >
                  <p style="font-weight: bold; font-size: 19px; margin: 0">Okeke Onyedikachi Collins</p>
                  <p style="font-size: 17px; color: rgba(0, 0, 0, 0.4)">anchor</p>
                  <p style="font-size: 16px;display: flex; justify-content: space-between; padding:0 20px 0 5px">
                    <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-facebook"></i></a>
                    <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-twitter"></i></a>
                    <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-google-plus"></i></a>
                    <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-linkedin"></i></a>
                    <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-instagram"></i></a>
                  </p>
                </div>
              </div>            
            </div>
          </div>
        </div>
        <div id="inside4">
          <div id="services">
            <p>Subscription</p>
            <h3>GET LATEST INFO</h3>

            
            <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12 f">
              <p id="about">
                If you want to contact us about any issue please call (+234) 09033525085  or send us an e-mail.If you would like to subscribe to our Newsletter, register your email with Us.
              </p>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12 f">
             <form id="f" action="/mailer" method="POST">
                <input type="text" name="email" placeholder="Your Email...">
                <button style="color: #fff;">SUBSCRIBE</button>
              </form>
            </div>
          </div>
        </div>      
      </div>
          <div id="inside5">
            <div class="location row">
              <div  class="col-sm-12 col-md-3 col-lg-4 col-xs-12">
                <div id="Enquiry">
                  <div style="padding: 20px; background: #082139;"><i class="fa fa-envelope"></i></div>
                  <div style="padding: 10px">
                    <p>Enquiry: <br> wpfemergency@gmail.com  <br></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-4 col-xs-12">
                <div id="Enquiry">
                  <div style="padding: 20px; background: #082139;"><i class="fa fa-phone"></i></div>
                  <div style="padding: 10px">
                    <p>Call us: <br> 09033525085 </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-4 col-xs-12">
                <div id="Enquiry">
                  <div style="padding: 20px; background: #082139;"><i class="fa fa-map-marker-alt"></i></div>
                  <div style="padding: 10px">
                    <p>Visit Us: <br> University of Nigeria,Nsukka, Enugu, Enugu state</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div id="foot">
          <div id="foot-inner" class="row">
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
              <div>
                 &nbsp &nbsp <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-facebook"></i></a>
                            <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-twitter"></i></a>
                            <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-google-plus"></i></a>
                            <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-linkedin"></i></a>
                            <a href="" style="color: rgba(0, 0, 0, 0.4)"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4"></div>
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
              <p>&#169 2021 &nbsp &nbsp WPF</p>
            </div>
          </div>
        </div>
      <script
         src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous">
      </script>
      <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
      <script type="text/javascript" src="/js/scrollreveller.js"></script>
      <script type="text/javascript" src="/js/JavaScript.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    </body>
  </html>
    </div>
  
  