<!DOCTYPE html>
<html>
<head>
  <title>WPF Emergency</title>
  <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg"/>
    <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/public/css/signin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7074a20037.js" crossorigin="anonymous"></script>
    <meta name="author" content="lectriweb">
    <meta name="keywords" content="Emergency, health, find a hospital, Enugu">
  </head>
<body style="background-color: #f0d6eba8">
  
<!-- <h1> Signin </h1>

<form action="/api/signin" method="POST">
<div>
<label for="email">Email</label>
<input type="email" name="email" placeholder="Enter Email" />
</div>
<div>
    <label for=" password">Password</label>
    <input type="password" name="password" placeholder="Enter Password"/>
  
</div>
<button type="submit" class="btn btn-primary btn-block">Login</button>
</form> -->


<div id="content" class="flex">
  
      <div class="page-content page-container" id="page-content">
          <div class="padding">
             
                  <div class="col-md-6"  >
                      <div class="card"  style="height:100vh;padding-top:150px;width :100%; margin: 0 50%;">
                          <div class="card-header"><strong>Login to your account</strong></div>
                          <div class="card-body">
                              <form action="/api/signin" method="POST" >
                                  <div class="form-group"><label class="text-muted" for="email">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email"> <small id="emailHelp" class="form-text text-muted">We don't share email with anyone</small></div>
                                  <div class="form-group"><label class="text-muted" for="password">Password</label><input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password"> <small id="passwordHelp" class="form-text text-muted">your password is saved in encrypted form</small></div>
                                  <div class="form-group">
                                      <div class="form-check"><input type="checkbox" class="form-check-input"><label class="form-check-label">Check me out</label></div>
                                  </div> <button type="submit" class="btn btn-primary  btn-block">Login</button>
                                  <p >Have An Account? <a href="/api/signup">Signup</a></p>
                              </form>
                          </div>
                      </div>
                  </div>
              
          </div>
      </div>

</div>
</body>
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous">
</script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<!-- <script type="text/javascript" src="/js/scrollreveller.js"></script> -->
<script type="text/javascript" src="/js/JavaScript.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>